<h1>Strona główna</h1>

<p>
abecadłoaaaaaaaaa
</p>

<%=Time.now%>

<ul>
<% @users.each do |user| %>
  <li><%= user.id %> </li>
<% end %>
</ul>
<p>
becea
</p>

<%= @user.nickname %>

<%= @ingredient.name %>


